﻿@model PMS.Entities.ProductDTO

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <style>
    body {font-family: 'Open Sans', sans-serif;
  background: url(@Url.Content("~/background/spbackground.jpg")) no-repeat;
	background-size: cover;}
          .ProductBox{
font-family: 'Open Sans', sans-serif;
display:inline-block;
margin-top:5px;
margin-bottom:5px;
margin-left:20px;
position:relative;
color:white;
border-width:1px;
border: 1px solid darkmagenta;
padding:0;
background-color:rgba(0,0,0,0.5);
height:100%;
border-radius:20px;
width:100%;
}
	.newbtn{
        width:160px;
        height:50px;      
        background-color:darkmagenta;
        color:white;
        margin:10px;
        }
    </style>
}
<h2>New</h2>

<form action='@Url.Content("~/Product/Save")' method="post" enctype="multipart/form-data">
   
    <input type="hidden" name="ProductID" value="@Model.ProductID" />
    <input type="hidden" name="PictureName" value="@Model.PictureName" />
    <span style="color:red;font-style:oblique;">@TempData["Msg"]</span>
    <div class="ProductBox" style="padding:30px;">

        @if (Model.PictureName != "")
        {
            <img src='@Url.Content("~/UploadedFiles")/@Model.PictureName' style="float:right;border-radius:150px;width:300px;height:300px;" /> <br />
        }
        Name<input class="form-control" type="text" name="Name" value="@Model.Name" required/> <br />
        Price: <input class="form-control" type="number" name="Price" value="@Model.Price" required min="1"/> <br />
        Image: <input type="file" name="Image" @TempData["required"]/>
        <center>
            <input class="btn btn-default newbtn" type="submit" value="Save" />
        </center>
    </div>
   
</form>
