﻿@model PMS.Entities.UserDTO
@{
    ViewBag.Title = "ShowProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <style>
    body {font-family: 'Open Sans', sans-serif;
  background: url(@Url.Content("~/background/spbackground.jpg")) no-repeat;
	background-size: cover;}
                  .ProductBox{
font-family: 'Open Sans', sans-serif;
display:inline-block;
margin-top:5px;
margin-bottom:5px;
margin-left:20px;
position:relative;
color:white;
border-width:1px;
border: 1px solid darkmagenta;
padding:0;
background-color:rgba(0,0,0,0.5);
height:100%;
border-radius:20px;
width:100%;
}
        .newbtn{
        width:160px;
        background-color:darkmagenta;
        color:white;
        margin:10px;
        }
    </style>
}
<a href="~/Product/ShowAll" class="btn btn-default newbtn">Back</a>
<div class="ProductBox">
    <center>
        <img src="~/userPics/@Model.PictureName" height="300" width="300" style="border-radius:150px;border:2px solid darkmagenta" />


        <h1> User Name: @Model.Name </h1>
        <h4>Login: @Model.Login </h4>
    </center>

</div>




