﻿@model List<PMS.Entities.ProductDTO>
@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <style>
    body {font-family: 'Open Sans', sans-serif;
  background: url(@Url.Content("~/background/spbackground.jpg")) no-repeat;
	background-size: cover;}

   .ProductBox{
font-family: 'Open Sans', sans-serif;
display:inline-block;
margin-top:5px;
margin-bottom:5px;
margin-left:20px;
position:relative;

border-color:dodgerBlue;
border-width:1px;
border: 1px solid darkmagenta;
padding:0;
background-color:#f7f7f7;
height:100%;
border-radius:20px;
width:100%;
}
	.newbtn{
        width:80px;
        background-color:darkmagenta;
        color:white;
        
        }
.comment{
        border: 1px solid darkmagenta;
       
        width:400px;
        }
 
    </style>
}
@section scripts{

    <script>
        function openn(id) {

            window.open("ShowProfile?"+"uid="+id,'__blank');

        }
        $(function () {
            $(".editbutton").click(function () {
                var pid = $(this).attr("pid");
                $("#ProductID").val(pid);
            });
           
        });

        $(".dell").click(function (e) {

            var pid = $(this).attr("pid");               
            var ret = confirm("Do you want to delete the record with userId " + pid + "?");
            if (ret == true) {
                window.location.href ="Delete/"+pid;
            }

                
        });
        $(".btnAddComment").click(function (e) {

            var uid = $(this).attr("userid");
            var pid = $(this).attr("prodid");
            var txt = $(this).siblings("textarea").val();
           
          

            window.location.href= "SaveComment?"+"txtComment="+txt+"&"+"prodID="+pid;


        });

</script>

}


<h2>ShowAll</h2>
<center>
    <a class="btn btn-default newbtn" href="/Product/New">New </a> <br />
</center>



    <input type="hidden" name="ProductID" id="ProductID" />
  @{ 
      List<string> names = new List<string>();
      foreach(var item in Model)
      {
          PMS.Entities.UserDTO u =  PMS.BAL.UserBO.GetUserById(item.CreatedBy);
          names.Add(u.Name);
      }
      int count = 0;
  }
    <div>
        <span style="color:red;font-style:oblique;">@TempData["Msg"]</span>
        @foreach (var item in Model)
        {
            <div class="ProductBox" style="padding:40px;">
                <div style="float:left;margin-right:10px">
                    <img src="/UploadedFiles/@item.PictureName" style="width:100px;height:100px;margin-bottom:30px;border:1px solid darkmagenta" />
                </div>
                <div style="float:left">
                    Product Id: @item.ProductID <br />
                    Name: @item.Name <br />
                    Price: @item.Price <br />
                   
                    Created On @item.CreatedOn <b>By</b> @names[count] 
                    @{ count++;}
                </div>
                <div style="clear:both">
                    @if (WebPrac.Security.SessionManager.User.IsAdmin 
                    || WebPrac.Security.SessionManager.User.UserID==@item.CreatedBy)
                    {
                        <a class="newbtn btn btn-default"href='@Url.Content("~/Product/Edit/" + @item.ProductID)'>Edit</a>
                        <a class="newbtn btn btn-default dell" pid="@item.ProductID" >Delete</a>                       
                    }
                </div>
                <!-------------------------------------------------------------------------------->
                <h5>Comments</h5>
                <div class="commentarea">
                    <textarea class="txtComment" id="txtComment" name="txtComment" rows="1" cols="50"></textarea>
                    
                    <button id="btnAddComment" class="btnAddComment newbtn" value="Add" userid="@WebPrac.Security.SessionManager.User.UserID"
                            prodid="@item.ProductID" >Add</button>
                </div>
                <br />
                <div class="comments" >

                    @foreach (var comment in item.Comments)
                    {
                        <div class="comment">
                            <span class="picture" >
                                <img style="float:left;background-color:darkmagenta;padding:5px;margin-right:5px;height:40px;width:40px;"src='@Url.Content("~/userPics/" + comment.PictureName)' />
                            </span>
                            <div>
                                <span class="name"><a onclick='openn(@comment.UserID);' style="color:darkmagenta">@comment.UserName </a></span>
                                <span class="comment-text">@comment.CommentText</span> <br />
                                <span class="comment-text" style="font-size:smaller">@comment.CommentOn</span>

                            </div>
                        </div>
                        <br />
                       // <div style="clear:both"></div>
                    }
                </div>
            </div>
         
        }
    </div>


