﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", false);
</head>
<body >
    <div class=" navbar-inverse navbar-fixed-top" style="background-color:darkmagenta;">
        <div class="container" >
            <div class="navbar-header">
               
                @if (WebPrac.Security.SessionManager.User.IsAdmin)
                {
                   
                    @Html.ActionLink("Home", "Admin", "Home", null, new { @class = "navbar-brand" })
                  
                }
                else
                {
                    @Html.ActionLink("Home", "NormalUser", "Home", null, new { @class = "navbar-brand" })
                }
               
              
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Show All", "ShowAll", "Product")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
