﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/mystyle.css")
    @RenderSection("css", false)
    @RenderSection("scripts",false)
</head>
<body>
    <span style="color:red">@TempData["Message"]</span>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
