﻿
@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="div1" style="height:600px;padding-left:70px;text-align:inherit">
    <div class="contained">
        <h1 style="color:black;">Change Password </h1>
        <div>
            <form class="contained" style="float:left;color:black;" action="~/User/ChangePass" method="post" enctype="multipart/form-data">
                <span style="color:red"> @ViewBag.error </span><br />
                Old Password: <input class="form-control box" type="password" id="name" name="oldpass"  required /><br />
                New Password: <input class="form-control box" type="password" id="login" name="newpass"  required/><br />

                <input class="submit" style="display:inline" type="submit" id="change" name="changepass" value="Change" />
               
            </form>

        </div>
    </div>
</div>


