﻿
@{
    ViewBag.Title = "Code";
    Layout = "~/Views/Shared/_MyPublicLayout.cshtml";
}
@section css{
    <style>
    body {font-family: 'Open Sans', sans-serif;
  background: url(@Url.Content("~/background/codebackground.jpg")) no-repeat;
	background-size: cover;}
    </style>
}
<div class="div1" style="height:auto">
    <h1 style="color:white;"> Login </h1>

    <div class="btn-group">
        <br><br>
        <form action="~/User/Code" method="post">
            <div style="width:500px;padding:0px">
                <span style="color:red;">@ViewBag.MSG</span>
                <input type="hidden" name="login"  value="@ViewBag.login">
                <br><br>

                <input class="box" type="text" name="code" placeholder="Code" required/>
                <br><br>
                <br><br>

                <input name="codeBtn" type="submit" class="submit" value="Reset" />
            </div>


        </form>




    </div>
</div>

