﻿@{
    ViewBag.Title = "Login2";
    Layout = "~/Views/Shared/_MyPublicLayout.cshtml";
}

@section scripts {

    <script>
        $(function () {
            $("#btnLogin").click(function () {

                var login = $("#txtLogin").val();
                var pass = $("#txtPassword").val();

                var d = { "login": login, "password": pass };

                var settings = {
                    type : "POST",
                    dataType: "json",
                    url: "/User/ValidateUser",
                    data: d,
                    success: function (resp) {
                        if (resp.valid == true) {
                            location.href = resp.urlToRedirect;
                        }
                        else {
                            alert("Invalid Login/Password");
                        }
                    },
                    error: function (e) {
                        alert("error");
                    }
                };

                $.ajax(settings);

                return false;
            });
        });
    </script>

}
@section css{
    <style>
    body {font-family: 'Open Sans', sans-serif;
  background: url(@Url.Content("~/background/formbackground.jpg")) no-repeat;
	background-size: cover;}
    </style>
}


<div class="div1">
    <h1 style="color:white;"> Login </h1>

    <div class="btn-group">
        <br><br>
        <form action="/User/Login" method="post">
            <div style="width:500px;padding:0px">
                <span style="color:red;">@ViewBag.MSG</span>
                <input class="box" type="text" name="login" placeholder="Login" value="@ViewBag.Login" required>
                <br><br>

                <input class="box" type="password" name="password" placeholder="Password" required>
                <br><br>
                <br><br>

                <input name="btnLogin" type="submit" class="submit" value="Login" />
                <br><br><br>
                <a href="/User/NewUser">Do you want to Sign up?</a>
            </div>
        </form>

    </div>
</div>
