﻿
@{
    ViewBag.Title = "NewUser";
    Layout = "~/Views/Shared/_MyPublicLayout.cshtml";
}

@section css{
    <style>
    body {font-family: 'Open Sans', sans-serif;
  background: url(@Url.Content("~/background/formbackground.jpg")) no-repeat;
	background-size: cover;}
        #form_div {
	width: 720px;
    margin: auto;
    padding: 30px 30px 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.31);
	text-align:center;
}

        input[type=text,type=password,type=email]{
    width: 45%;
    padding: 12px 20px;
	padding-left:80px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-position: 10px 10px;
	background-color: rgba(255, 255, 255, 0.63);
}
input[type=text]:focus {
    border: 3px solid #555;
}
input:focus {
    background-color: 		#808080;
}
    </style>
}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#myImg')
                    .attr('src', e.target.result)
                    .width(300)
                    .height(300);
                };

                reader.readAsDataURL(input.files[0]);

            }
        }
    </script>
}

<div class="div1" style="height:600px;padding-left:70px;text-align:inherit">
    <div class="contained">
        <h1 style="color:white;"> Sign Up Page </h1>


        <div>
            <form class="contained" style="float:left;color:white;" action="~/User/NewUser" method="post" enctype="multipart/form-data">
                <span style="color:red"> @ViewBag.error </span><br />
                Name: <input class="form-control box" type="text" id="name" name="name" value="@ViewBag.name" required /><br />
                Login: <input class="form-control box" type="text" id="login" name="login" value="@ViewBag.login" required/><br />
                Password: <input class="form-control box" type="password" id="password" name="password" value="@ViewBag.pass" required /><br />
                Image:  <input type="file" id="filename" name="filename" accept="image/jpeg, image/png" onchange="readURL(this);" required><br />
                <input class="submit" style="display:inline" type="submit" id="create" name="create" value="Sign Up" />
                <br><br>
                <a href="~/User/Login"> <input class="submit" style="display:inline;text-decoration:none;" type="button" id="cancel" name="cancel" value="Cancel" /></a>
            </form>

        </div>
    </div>
</div>

<img style="float:right;" name="image" value="@ViewBag.img" id="myImg" src="~/userPics/@ViewBag.img" alt="User Image" height="300" width="300" />



