﻿
@{
    ViewBag.Title = "Reset";
    Layout = "~/Views/Shared/_MyPublicLayout.cshtml";
}
@section css{
    <style>
    body {font-family: 'Open Sans', sans-serif;
  background: url(@Url.Content("~/background/formbackground.jpg")) no-repeat;
	background-size: cover;}
    </style>
}
<div class="div1" style="height:auto">
    <h1 style="color:white;">Reset </h1>

    <div class="btn-group">
        <br><br>
        <form action="~/User/Reset" method="post">
            <div style="width:500px;padding:0px">
                <span style="color:red;">@ViewBag.MSG</span>
                <input class="box" style="background-color:white" type="text" name="login" value="@ViewBag.login" readonly>
                <br><br>

                <input class="box" type="password" name="password" placeholder="New Password" required>
                <br><br>
                <br><br>

                <input name="change" type="submit" class="submit" value="Change" />
                </div>

            
        </form>




    </div>
</div>