﻿
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <style>
    body {font-family: 'Open Sans', sans-serif;
  background: url(@Url.Content("~/background/spbackground.jpg")) no-repeat;
	background-size: cover;}
    </style>
}

<h1> Welcome Admin @ViewBag.username </h1>

<img src="~/userPics/@ViewBag.img" height="300" width="300" />



<form method="get" action="@Url.Content("~/User/Edit")">
    <input type="hidden" id="login" name="login" value="@ViewBag.login" />
    <input type="hidden" id="name" name="name" value="@ViewBag.username" />
    <input type="hidden" id="image" name="image" value="@ViewBag.img" />
    <input type="hidden" id="id" name="id" value="@ViewBag.id" />
    <input class="form-control" style="display:inline;background-color:darkmagenta;color:white" type="submit" id="edit" name="edit" value="Edit Profile" />
</form>
<form method="post" action="@Url.Content("~/User/ChangePass")">
    <input type="hidden" id="back" name="back" value="~/Home/Admin" />
    <input class="form-control" style="display:inline;background-color:darkmagenta;color:white" type="submit" id="cp" name="cp" value="Change Password" />
</form>