﻿  

.btn-group .button1:not(:last-child){border-right: none;}
.btn-group .button1{margin:0px; font-size:80%;cursor:pointer;background-color:orange;text-align:center;color:white; padding :20px 100px;border: 1px orange;transition-duration:0.6s; }
.btn-group .button1:hover {background-color:red;color:white; box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50 px 0 rgba(0,0,0,0.19);}
.div1 { position:absolute;top:100px;  background-color: rgba(0, 0, 0, 0.5); padding:10px; margin:50px 400px; border: 1px gray; border-radius:5px; height:400px;width:600px; text-align:center;}
.box{width:480px;height:30px;background-color:rgba(0, 0, 0, 0.5);border:none;padding-left:5px;}
.box:focus{
background-color:white;
border: 1px solid orange;
}
a{
    color:darkorange;
    cursor:pointer;
}
a:hover{color:white;}
.submit{padding:10px 100px;cursor:pointer;border-radius:20px; width:480px;background-color:darkorange;color:white;font-family:arial; font-size:150%;border:none;}
.submit:hover{background-color:orangered;color:white; box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}
      